$dark-beige : rgba(156,144,95,1);
$yellow : rgba(255, 230, 128, 0.9);
$gray : rgba(140, 137, 128, 1);
$font-stack: 'Oswald', sans-serif;


@mixin flexbox() {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
 }

 @mixin flex($values) {
   -webkit-box-flex: $values;
   -moz-box-flex:  $values;
   -webkit-flex:  $values;
   -ms-flex:  $values;
   flex:  $values;
 }

.header-images {
  @include flexbox();
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  img {
    @include flex(1);
    max-width: 150px;
    max-height: 150px;
    margin:auto;
  }
}

h1 {
  font: 100% $font-stack;
  font-size: 6rem;
  text-align: center;
  color: $dark-beige;
}

 .app-wrapper{
   margin:3%, 5%;
 }

 .meal-wrapper {
   @include flexbox();
      h2 {
        width: 100%;
        text-align: center;
        color: rgb(122,154,163);
      }
      .main {
        @include flex(1);
        @include flexbox();
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
      }
      .edit {
        @include flex(1);
      }
  }

  .meal {
    @include flex(1);
    background: $yellow;
    color: $gray;
    border: 1px solid rgb(255, 255, 255);
    height: 200px;
    width: 300px;
    margin: 20px;
    padding: 20px;
      h3:first-of-type {
        margin-top:0;
        text-align: center;
      }
      h4 {
        margin-bottom: 5px;
        border-bottom: 3px solid rgb(245,245,230);
      }
      span {
        font-weight: bold;
      }
  }

  .meal:hover {
    cursor: pointer;
    border: 1px solid rgb(30, 255, 255);
  }

  .selected .meal {
    border: 2px solid rgb(30, 255, 255);
  }

  .add-to-cart-btn {
    color: black;
  }
